<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel=”stylesheet” type=”text/css” href=”__STATIC__/inner/css/visitor_index.css”/> 
<script type="text/javascript" src="__STATIC__/index/js/visitor_index.js"/></script>
<title>visitor_index</title>
</head>
<body>
<div class="banner">
    <div class="nav" id="web_logo">
		<span id="img_wrapper"><img id="login" src="__STATIC__/index/images/web_logo.png" alt="web_logo" ></span>
    </div>
    <div id="welcome"><p>Hello IMISer</p></div>
</div>
<div class="middle">
	<div id="main">
	</div>     
</div>    
<div id="foot">
    <div id="foot-up">
      <div id="imis_logo">
            <img src="__STATIC__/index/images/imis_logo.png">
        </div>
      <div id="slogan">信管出击，天下无敌</div>
      <div id="link"><a href="http://www.w3school.com.cn">班级文化</a> | <a href="http://www.w3school.com.cn">班委成员</a> | <a href="http://www.w3school.com.cn">logo下载</a></div>
    </div>
    <div id="foot-bottom">Copyright © 2017 网站建设作业</div>
</div>    
</body>
</html>