    *{padding: 0;margin:0;}
	body{
		text-align:center;
		width:100%;
		}
	.banner{
		margin:0 auto;
		border:0;
		width:100%;
		height:166px;
		text-align:center;
		font-family:NotoSansHans-Medium;
		}
	.nav ul{
		width:980px;
		margin:0px auto;
		height:165px;
	}
	.nav ul li{
		text-align:center;
		list-style-type:none;
		float:left;
		padding:39px 0 0 0;
	}
	.selected{
		width:57px;
		height:4px;
		background:#000;
		margin:0px auto;
		}
	#web_logo{
		border:50px 0 473px 0;
		}
	#web_logo img{
		width:110px;
		height:126px;
	}
	.nav ul li a{
		vertical-align:middle;
		width:57px;
		height:28px;
		line-height:28px;
		color:#42271F;
		margin:50px 80px;
		font-size:12px;
		font-style:bold;
		display:block;
		text-align:center;
		text-decoration:none;
	}
	.nav ul li a:hover{
		vertical-align:middle;
		width:57px;
		height:28px;
		font-style:bold;
		line-height:28px;
		color:#42271F;
	}
	.middle{
		position:relative;
		width:100%;
		top:60px;
		overflow: auto;
		background:#FFF;
	}
	.input_group{
		/*height: 40px;*/
		padding-bottom: 5px;
		overflow: auto;
		width: 966px;
		margin:auto;
		text-align:left;
		margin-bottom: 40px;
		vertical-align: top;
		position: relative;
	}
	.layer{
		display: inline-block;
		margin-right: 30px;
		vertical-align: top;

	}
	.input_group p{
		display: inline-block;
	}
	#title{
		width:408px;
		height:32px;	
		background-color:#EFEFEF;	
		border:0;
		}
	#file{
		width:408px;
		height:33px;
		background-color:#EFEFEF;	
		border:0;				
		}
	#description{
		width:811px;
		height:180px;
		margin-bottom: 20px;
		background-color:#EFEFEF;
		border:0;			
		}	
	.button{
		position:absolute;
		top:0px;
		right:80px;
		width:160px;
		height:32px;
		background-color:#5E9ED8;
		border:0;
		padding:0;
		border-radius:5px;
		color:#FFFFFF;
		font-style:bold;
		text-align:center;
		}
	.outside_box{
		overflow:auto;
	}	
	.box{
		position:relative;
		margin:0 auto;
		width:962px;
		height:218px;
		clear:both;
		list-style:none;  
		}
	.box li{
		float:left;
		background-color:#EDEDED;
		margin-bottom:20px;
	}
	.left_box{
		text-align:center;
		width:245px;
		height:218px;
		}
	#dl_times{
		font-family:MicrosoftYaHeiUI;
		font-size:60px;
		color:#F28A35;
		line-height:135px;
		}
	#dl_text{
		font-family:MicrosoftYaHeiUI;
		font-size:14px;
		color:#999999;
		}
	.article{
		width:492px;
		height:218px;
		}
	.article_info{
		position:relative;
		top:32px;
		right: 31px;
		text-align:right;
		font-family:MicrosoftYaHeiUI;
		font-size:12px;
		color:#999999;
		}
	.title{
		position:relative;
		top:20px;
		font-family:MicrosoftYaHeiUI;
		font-size:24px;
		color:#444444;
		}
	.content{
		position:relative;
		top:40px;
		font-family:MicrosoftYaHeiUI;
		font-size:12px;
		color:#666666;
		line-height:20px;
		clear:both;
		}
	.right_box{
		width:223px;
		height:218px;
		margin:0 auto;	
		}
	.right_box img{
		width:50px;
		height:50px;
		position:relative;
		top:80px;
		}
	#pagination ul{
		display:table;
		margin:40px auto;
		}
	#pagination ul li{
		list-style:none;
		posistion:relative;
		text-align: center;      
		top:800px;   
		font-size:18px;
		list-style:none;  
		display:table-cell;
		cursor: pointer; 
		}
	#pagination ul li a{
		color: #999999; 
		text-decoration: none;   
		padding:5px 8px;        
		}
	.active{
		color: #666666;   
		}
	.last_page,.next_page{
		width:15px;
		height:15px;
		}	
	#foot{
		font-family:NotoSansHans-Regular;
		width:100%;
		height:328px;
		}
	#foot-up{
		text-align:center;
		background-color:#000;
		height:286px;
		}
	#foot-up div{
		text-align:center;
		margin:0 auto;
		vertical-align:middle;
		}
	#imis_logo{
		position:relative;
		top:25px;
		padding:57px 0 40px 0;
		}
	#imis_logo img{
		width:126px;
		height:82px;
		}
	#slogan{
		width:auto;
		height:17px;
		padding:0 0 28px 0;
		}
	#link{
		width:auto;
		height:15px;
		padding:0 0 20px 0;
		}
	#foot-up>div{
    color: #FFF;
	}
	#foot-up>div>a:hover {
    color: #FFF;
	}
	#foot-up>div>a:visited {
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
	}
	#foot-up>div>a{
	text-decoration:none;  
	}
	#foot-bottom{
		text-align:center;
		background-color:#F60;
		height:42px;
		line-height:42px;
		color: #FFF;
	}
