<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>topic_launch</title>
<link rel=”stylesheet” type=”text/css” href=”__STATIC__/inner/css/topic_launch.css”/> 
</head>
<body>
<div class="banner">
    <div class="nav">
     <ul>
       <li><a href="http://www.w3school.com.cn/">资源社区</a></li>
       <li><a href="http://www.w3school.com.cn/">话题讨论<div class="layer-selected"></div></a></li>
       <li id="web_logo"><img src="__STATIC__/inner/images/web_logo.png" alt="web_logo"></li>
       <li><a href="http://www.w3school.com.cn/">发布文章</a></li>
       <li><a href="http://www.w3school.com.cn/">个人设置</a></li>
     </ul>
    </div>
</div>
<div class="middle">
	<div id="main">
        <div>
            <div class="layer" data-name="标题"><p align="left">标题</p></div>
            <input id="title" type="text" name="title">
        </div> 
        <div>
            <div class="layer" data-name="描述"><p align="left">描述</p></div>
            <input id="description" type="text" name="description">
        </div>
        <input class="button" id="topic_launch" type="button" value="发起话题" />
        <input class="button" id="return" type="button" value="返回" />
	</div>
</div>     
  
<div id="foot">
    <div id="foot-up">
      <div id="imis_logo">
            <img src="__STATIC__/inner/images/imis_logo.png">
        </div>
      <div id="slogan">信管出击，天下无敌</div>
      <div id="link"><a href="http://www.w3school.com.cn">班级文化</a> | <a href="http://www.w3school.com.cn">班委成员</a> | <a href="http://www.w3school.com.cn">logo下载</a></div>
    </div>
    <div id="foot-bottom">Copyright © 2017 网站建设作业</div>
</div>    
</body>
</html>