<!DOCTYPE html>
<html>
<head>
	<title>resource</title>
	<script src="__STATIC__/common/js/jquery-3.2.0.js"></script>
	<script>
		function delete_topic(resource_id){
			res = confirm("确定删除？");
			if(res)
				_delete_topic(resource_id);
		}
		function _delete_topic(resource_id){
				$.post("{:url('admin/resource/deleteResource')}", {'resource_id':resource_id});
				location.reload() 
			}
	</script>
</head>
<body>
This is the admin index page of the resource community.<br/>
<br/>

{volist name="resources" id="item"}
	{$item.resource_id} 
	{$item.title}
	{$item.update_time}
	{$item.contributor}
	<button id="delete" onclick="delete_topic('{$item.resource_id}')">删除</button>
	<br/>
{/volist}

</body>
</html>