<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>topic discussion inner</title>
<link rel=”stylesheet” type=”text/css” href=”__STATIC__/inner/css/topic_discussion_inner.css”/> 
</head>
<body>
<div class="banner">
    <div class="nav">
     <ul>
       <li><a href="http://www.w3school.com.cn/">资源社区</a></li>
       <li><a href="http://www.w3school.com.cn/">话题讨论<div class="selected"></div></a></li>
       <li id="web_logo"><img src="__STATIC__/inner/images/web_logo.png" alt="web_logo"></li>
       <li><a href="http://www.w3school.com.cn/">发布文章</a></li>
       <li><a href="http://www.w3school.com.cn/">个人设置</a></li>
     </ul>
    </div>
</div>
<div class="middle">
   	<div class="topic">
        <div class="left">出国交换的坑!~~~~~~~~</div>
        <div class="return"><a href="">返回</a></div>
    </div>
    <div class="outside_box">
	    <ul class="box">
	        <li class="left_box"><p id="author">qige</p></li>
	        <li class="article">
	            <p class="content">还记得Orientation Week的时候，就感觉到这里与众不同的地方，更准确的来说是与我之前所经历过的教育不同的地方。 从破冰开始，同学们就给我一种很亲切的感觉，即使我们不是同一个年级，不是同一个program，不是同一个国家。Professor们的亲和也给我留下很深刻的印象，还记得晚会上professor们都去台上手舞足蹈的样子，从未觉得可笑，只是温暖。 Orientation的狂欢也延续到了之后的学习中。在这里，总会有人陪你彻夜狂欢到日出，同时，熬夜学习到日出也绝对不会孤身一人。在这里才真正感觉到了时间从指缝中溜走的感觉，已经有很多次和同学讨论过该怎样安排时间，大家在一起绞尽脑汁想要去挤出那么一点时间，最后得出的方案只是再早起一个小时去增加自己清醒的时间。</p>
               	<div class="article_info">1楼 2017-06-09 16:25</div>
            </li>
	    </ul>
	    
	    <ul class="box">
	        <li class="left_box"><p id="author">曹导</p></li>
	        <li class="article">
	            <p class="content">哇！猴塞雷啊！！！！！！！！！</p>
                <div class="article_info">2楼 2017-06-09 16:25</div>
            </li>
	    </ul>

	    <ul class="box">
	    	<li class="left_box"><p id="author">C Handsome</p></li>
	        <li class="article">
	            <p class="content">祺哥威武霸气！！！！</p>
                <div class="article_info">3楼 2017-06-09 16:25</div>
            </li>
	    </ul>  
	    <div class="text_editor">此处插入文本编辑模板</div>   
	</div> 
	<input class="button" type="button" value="发表" />
</div>
<div id="foot">
    <div id="foot-up">
      <div id="imis_logo">
            <img src="__STATIC__/inner/images/imis_logo.png">
        </div>
      <div id="slogan">信管出击，天下无敌</div>
      <div id="link"><a href="http://www.w3school.com.cn">班级文化</a> | <a href="http://www.w3school.com.cn">班委成员</a> | <a href="http://www.w3school.com.cn">logo下载</a></div>
    </div>
    <div id="foot-bottom">Copyright © 2017 网站建设作业</div>
</div>    
</body>
</html>