<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>topic_discussion</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/inner/css/topic_discussion.css" /> 
<script>
	function raise(){
		window.location = "{:url('inner/topic/raiseTopic')}";
	}
</script>
</head>
<body>
<div class="banner">
    {include file="../application/inner/view/common/navbar.html"}
</div>
<div class="middle">
	<input class="button" type="button" value="发起话题" onclick="raise()" />
    <div class="outside_box">
    {volist name="all_topics" id="topic"}
	    <ul class="box">
	        <!-- <li class="left_box"><p id="dl_times">17</p><p id="dl_text">本文下载次数</p></li> -->
	        <li class="article">
            	<div class="article_info">{$topic.raiser} {$topic.date}</div>
	            <p class="title">
	            <a href="{:url('inner/topic/getDetail')}/topic_id/{$topic.topic_id}">{$topic.title}</a>
	            </p>
	            <p class="content">{$topic.description}</p>
            </li>
	    </ul>
 	{/volist}
	</div> 
    <div id="pagination">
        <ul id="pagination-flickr">
            {$page}
        </ul>
    </div>
</div>
<div id="foot">
    <div id="foot-up">
      <div id="imis_logo">
            <img src="__STATIC__/inner/images/imis_logo.png">
        </div>
      <div id="slogan">信管出击，天下无敌</div>
      <div id="link"><a href="http://www.w3school.com.cn">班级文化</a> | <a href="http://www.w3school.com.cn">班委成员</a> | <a href="http://www.w3school.com.cn">logo下载</a></div>
    </div>
    <div id="foot-bottom">Copyright © 2017 网站建设作业</div>
</div>    
</body>
</html>