<!DOCTYPE html>
<html>
<head>
	<title>topic</title>
</head>
<body>
This is the index page of the topic community.<br/>
<a href="{:url('login/logout')}">退出登陆</a><br/>
<br/>
{include file="../application/inner/view/common/navbar.html"}
<br/>
<a href="{:url('inner/topic/raiseTopic')}">发起话题</a><br/><br/>
{volist name="all_topics" id="topic"}
	{$topic.topic_id}
	<a href="{:url('inner/topic/getDetail')}/topic_id/{$topic.topic_id}">{$topic.title}</a>
	<!-- {$topic.description} -->
	{$topic.raiser}
	{$topic.date}
	<br/>
{/volist}
{$page}
</body>
</html>