<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>topic_discussion</title>
<link rel=”stylesheet” type=”text/css” href=”__STATIC__/inner/css/topic_discussion.css”/> 
</head>
<body>
<div class="banner">
    <div class="nav">
     <ul>
       <li><a href="http://www.w3school.com.cn/">资源社区</a></li>
       <li><a href="http://www.w3school.com.cn/">话题讨论<div class="selected"></div></a></li>
       <li id="web_logo"><img src="__STATIC__/inner/images/web_logo.png" alt="web_logo"></li>
       <li><a href="http://www.w3school.com.cn/">发布文章</a></li>
       <li><a href="http://www.w3school.com.cn/">个人设置</a></li>
     </ul>
    </div>
</div>
<div class="middle">
	<input class="button" type="button" value="发起话题" />
    <div class="outside_box">
	    <ul class="box">
	        <li class="left_box"><p id="dl_times">17</p><p id="dl_text">本文下载次数</p></li>
	        <li class="article">
            	<div class="article_info">qige 2017-06-03</div>
	            <p class="title">数据库大作业</p>
	            <p class="content">数据库(Database)是按照数据结构来组织、存储和管理数据的仓库，它产生于距今六十多年前，随着信息技术和市场的发展，特别是二十世纪九十年代以后，数据管理不再仅仅是存储和管理数据，而转变成用户所需要的各种数据管理的方式。数据库有很多种类型，从最简单的存储有各种数据的表格到能够进行海量数据存储的大型数据库系统都在各个方面得到应用。</p>
            </li>
	        <li class="right_box">
	            <img class="download"src="__STA TIC__/inner/images/download.png" alt="download"></p>
	        </li>
	    </ul>
	    
	    <ul class="box">
	        <li class="left_box"><p id="dl_times">22</p><p id="dl_text">本文下载次数</p></li>
	        <li class="article">
            	<div class="article_info">余钊纯 2017-06-03</div>
	            <p class="title">网站建设大作业</p>
	            <p class="content">网站建设是指使用标识语言（markup language)，通过一系列设计、建模、和执行的过程将电子格式的信息通过互联网传输，最终以图形用户界面（GUI）的形式被网站建设是指使用标识语言用户所浏览。</p>
            </li>
	        <li class="right_box">
	            <img class="download"src="__STA TIC__/inner/images/download.png" alt="download">
	        </li>
	    </ul>

	    <ul class="box">
	    	<li class="left_box"><p id="dl_times">62</p><p id="dl_text">本文下载次数</p></li>
	        <li class="article">
            	<div class="article_info">qige 2017-06-03</div>
	            <p class="title">2015级三下乡策划</p>
	            <p class="content">“三下乡”即有关文化、科技、卫生方面的内容知识让农村知道，促进农村文化、科技、卫生的发展。大力开展文化、科技、卫生“三下乡”活动，是我们党全心全意为人民服务宗旨的具体体现。</p>
            </li>
	        <li class="right_box">
	  			<img class="download"src="__STA TIC__/inner/images/download.png" alt="download">
	        </li>
	    </ul>  
	    <ul class="box">
	        <li class="left_box"><p id="dl_times">22</p><p id="dl_text">本文下载次数</p></li>
	        <li class="article">
            	<div class="article_info">余钊纯 2017-06-03</div>
	            <p class="title">网站建设大作业</p>
	            <p class="content">网站建设是指使用标识语言（markup language)，通过一系列设计、建模、和执行的过程将电子格式的信息通过互联网传输，最终以图形用户界面（GUI）的形式被网站建设是指使用标识语言用户所浏览。</p>
            </li>
	        <li class="right_box">
	            <img class="download"src="__STA TIC__/inner/images/download.png" alt="download">
	        </li>
	    </ul>

	    <ul class="box">
	    	<li class="left_box"><p id="dl_times">62</p><p id="dl_text">本文下载次数</p></li>
	        <li class="article">
            	<div class="article_info">qige 2017-06-03</div>
	            <p class="title">2015级三下乡策划</p>
	            <p class="content">“三下乡”即有关文化、科技、卫生方面的内容知识让农村知道，促进农村文化、科技、卫生的发展。大力开展文化、科技、卫生“三下乡”活动，是我们党全心全意为人民服务宗旨的具体体现。</p>
            </li>
	        <li class="right_box">
	  			<img class="download"src="__STA TIC__/inner/images/download.png" alt="download">
	        </li>
	    </ul>     
	</div> 
    <div id="pagination">
        <ul id="pagination-flickr">
            <li><a href=""><img class="last_page" src="__STA TIC__/inner/images/last_page.png" alt="last_page"></a></li>
            <li class="active"><a href="">1</a></li>
            <li><a href="?page=2">2</a></li>
            <li><a href="?page=3">3</a></li>
            <li><a href="?page=4"><img class="next_page" src="__STA TIC__/inner/images/next_page.png" alt="next_page"></a></li>
        </ul>
    </div>
</div>
<div id="foot">
    <div id="foot-up">
      <div id="imis_logo">
            <img src="__STATIC__/inner/images/imis_logo.png">
        </div>
      <div id="slogan">信管出击，天下无敌</div>
      <div id="link"><a href="http://www.w3school.com.cn">班级文化</a> | <a href="http://www.w3school.com.cn">班委成员</a> | <a href="http://www.w3school.com.cn">logo下载</a></div>
    </div>
    <div id="foot-bottom">Copyright © 2017 网站建设作业</div>
</div>    
</body>
</html>