<!DOCTYPE html>
<html>
<head>
	<title>editor</title>
	<style type="text/css">
		body, input, select, textarea {
            font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
        }

        #editor {
            height: 600px;
        }
	</style>
	<link rel="stylesheet" type="text/css" href="__MD__/mdeditor.css">
</head>
<body>
This is the index page of editor.
<div id="editor"></div>
</body>
<script type="text/javascript" src="__MD__/mdeditor.js"></script>
<script type="text/javascript">
	var editor = mdeditor({
		id: "editor",
		placeholder: "markdown editor"
	});

</script>
</html>