<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>editor</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/inner/css/editor.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/common/css/editor.js">
<link rel="stylesheet" type="text/css" href="../__MD__/mdeditor.css">
<script type="text/javascript" src="__STATIC__/common/js/jquery-3.2.0.js"></script>
<!-- 以下是关于markdown编辑器的配置 -->
	<style type="text/css">
		body, input, select, textarea {
            font-family: Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
	        }

	        #editor {
	            height: 600px;
	        }

	        .mdeditor-html{
	            width: 510px;
	            text-align: left;
	        }
	        .button{
	        	cursor: pointer;
	        }
	        
	</style>
</head>
<body>
<div class="banner">
{include file="../application/inner/view/common/navbar.html"}
</div>
<div class="middle">
	<div id="main">
        <div>
            <div class="layer" data-name="标题"><p align="left">标题</p></div>
            <input class="text" type="text" name="title">
            <input id="publish" class="button" type="button" value="发布" />
        </div>
        <div>
            <div class="layer" data-name="概要"><p align="left">概要</p></div>
            <input class="text" type="text" name="description">
            <input class="button" type="button" value="保存(暂未实现)" />
        </div>
        <br/><br/><br/><br/>

		<div id="editor"></div>
        
    </div>

</div>


<script type="text/javascript" src="../__MD__/mdeditor.js"></script>

<script type="text/plain" style="display: none" id="md_preview">## 标题
# 一级标题</div>
## 二级标题</div>
### 三级标题</div>
#### 四级标题</div>
##### 五级标题</div>
###### 六级标题</div>
## 无序列表
- 1</div>
- 2
- 3
* 1
* 2
* 3
. 1
. 2
. 3
## 有序列表
1. 1</div>
2. 2
3. 3
### 引用
>1. a</div>
>2. b</div>
>33. c</div>
>段落
## 图片
![前端路迹](http://www.qinshenxue.com/static/img/logo.jpg)
## 链接
[前端路迹](http://www.qinshenxue.com/)
## 行内代码
行内代码展示：`npm install`
## 粗体
粗体展示：**粗体**
## 斜体
斜体展示: *斜体*
## 表格
|1|2|3|4|
|:--:|:--:|:--:|:--:|
|1|2|3|4|
|1|2|3|4|
## 代码块
``` css
.mdeditor {
    float: left;
    width: 50%;
    line-height: 1.5em;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
```
``` xml
<ul class="mdeditor-ol">
    <li>原创markdown编辑器，基于textarea，同步预览html，不依赖任何插件，使用简单。</li>
</ul>
```
``` javascript
var a=1,b=2; // 注释
function test(){
	return "原创markdown编辑器，基于textarea，同步预览html，不依赖任何插件，使用简单。";
}
```
## 内嵌页（自定义语法，私有语法）
$[200](about:blank)
</script>

<script type="text/javascript">
	var editor = mdeditor({
		id: "editor",
		placeholder: "markdown editor"
	});
	editor.setMarkdown(document.getElementById('md_preview').innerHTML);


	function redirect(){
		location = "{:url('index/index/index')}";
	}

	
	var btn = document.getElementById('publish');
	btn.onclick = function () {
		// body...
		var title = document.getElementsByName('title')[0].value;
		var description = document.getElementsByName('description')[0].value;
		var content = editor.getHTML();
		console.log(title);
		console.log(description);
		console.log(content);

		var article_data = {
			title: title,
			description: description,
			content: content
		};
		$.post("{:url('index/article/addArticle')}", article_data, function(data, status){

			alert("文章上传结果："+status+"\n"+"点击确定跳转到主页。");
			redirect();

		});
	}
</script>
  	</div>     
</div>    
<div id="foot">
    <div id="foot-up">
      <div id="imis_logo">
            <img src="__STATIC__/inner/images/imis_logo.png">
        </div>
      <div id="slogan">信管出击，天下无敌</div>
      <div id="link"><a href="http://www.w3school.com.cn">班级文化</a> | <a href="http://www.w3school.com.cn">班委成员</a> | <a href="http://www.w3school.com.cn">logo下载</a></div>
    </div>
    <div id="foot-bottom">Copyright © 2017 网站建设作业</div>
</div>    
</body>
<script type="text/javascript">
	var editor = mdeditor({
		id: "editor",
		placeholder: "markdown editor"
	});
	editor.setMarkdown(document.getElementById('md_preview').innerHTML);


	function redirect(){
		location = "{:url('index/index/index')}";
	}

	
	var btn = document.getElementById('publish');
	btn.onclick = function () {
		// body...
		var title = document.getElementsByName('title')[0].value;
		var description = document.getElementsByName('description')[0].value;
		var content = editor.getHTML();
		console.log(title);
		console.log(description);
		console.log(content);

		var article_data = {
			title: title,
			description: description,
			content: content
		};
		$.post("{:url('index/article/addArticle')}", article_data, function(data, status){

			alert("文章上传结果："+status+"\n"+"点击确定跳转到主页。");
			redirect();

		});
	}
</script>
</html>